.navbar{
  background: rgb(249, 226, 231);
  width: 100%;
  right: 0;

}

.label{
  text-transform: uppercase;
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-size: 0.79rem;
  line-height: 12px;
  letter-spacing: 0.08em;
  text-align: center;
  vertical-align: bottom;
}

.hm {
  /*display: flex;*/
  /*align-items: center;*/
}
