<app-header></app-header>
<app-sub-header></app-sub-header>
<app-panel></app-panel>
<!--<<router-outlet></router-outlet>-->
<app-group-product-vs></app-group-product-vs>
<app-product-list></app-product-list>

<!--<div class="container-fluid main-container ">-->


<!--  <header class="flex-column sub-header">-->
<!--    <app-header></app-header>-->
<!--    <app-sub-header></app-sub-header>-->
<!--    <app-panel></app-panel>-->
<!--  </header>-->


<!--  &lt;!&ndash; Основная часть для вывода товара &ndash;&gt;-->
<!--  <main class="text-center flex-column justify-content-center">-->
<!--   <router-outlet></router-outlet>-->
<!--  </main>-->


<!--&lt;!&ndash;  <footer>&ndash;&gt;-->
<!--&lt;!&ndash;    Подвал&ndash;&gt;-->
<!--&lt;!&ndash;  </footer>&ndash;&gt;-->

<!--</div>-->

<!--&lt;!&ndash; Navbar &ndash;&gt;-->
