<app-header></app-header>

<div class="container-fluid main-container w-full">

  <app-sub-header></app-sub-header>
<!--  <header class="flex-column sub-header">-->

<!--    <app-sub-header></app-sub-header>-->

<!--&lt;!&ndash;    <header class="flex-column sub-header flex-equal-height">&ndash;&gt;-->

<!--&lt;!&ndash;      <app-sub-header class="flex-item"></app-sub-header>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <app-panel class="flex-item"></app-panel>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;    </header>&ndash;&gt;-->


<!--  </header>-->



  <!-- Основная часть для вывода товара -->
  <main class="text-center flex-column justify-content-center">
    <router-outlet></router-outlet>

  </main>

  <app-footer></app-footer>

</div>

<app-product-preview></app-product-preview>


