.lang {
  text-transform: uppercase;
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-size: 0.79rem;
  line-height: 12px;
  letter-spacing: 0.08em;
  text-align: center;
  vertical-align: bottom;
}

/*p-dropdown .p-dropdown:focus {*/
/*  border-color: var(--form-color) !important;*/
/*  box-shadow: none !important;*/
/*}*/


/*:host ::ng-deep .custom-dropdown-panel .p-dropdown-items-wrapper {*/
/*  border: 1px solid var(--form-color) !important;*/
/*}*/

/*:host ::ng-deep .custom-dropdown .p-dropdown-label {*/
/*  border: 1px solid var(--form-color) !important;*/
/*}*/
/*p-dropdown .p-dropdown:focus {*/
/*  border-color: var(--form-color) !important;*/
/*  box-shadow: none !important;*/
/*}*/
:host ::ng-deep p-dropdown .p-dropdown:focus {
  outline-style: none !important;
}
