
<!--<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">-->


<!--  <div class="grid -mt-3 -ml-3 -mr-3 align-items-center justify-content-center lg:justify-content-start">-->
<!--    <div class="xs:col-12 sm:col-6 lg:col-4 p-0">-->
<!--      <div class="surface-card m-3 border-round shadow-2">-->
<!--        <a href="/">-->
<!--          <img src="https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.21a/on/demandware.static/-/Sites-BathAndBodyWorks-Library/default/dw6157884b/images/Summer2023/xcat_mensshop_su1_hps.jpg?yocs=o_s_" class="border-round-top w-full" alt="product">-->
<!--        </a>-->
<!--        <div class="flex flex-column w-full p-4">-->
<!--          <span class="text-900 font-medium text-xl border-200 pb-2" style="border-bottom:1px solid;">See all</span>-->
<!--          <span class="text-600 pt-2"><i class="pi pi-fw pi-users mr-2"></i>-->
<!--           Now open: The Men’s Shop for all things head-to-toe you-->
<!--            </span>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--    <div class="xs:col-12 sm:col-6 lg:col-4 p-0">-->
<!--      <div class="surface-card m-3 border-round shadow-2">-->

<!--        <a href="/">-->
<!--          <img src="https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.21a/on/demandware.static/-/Sites-BathAndBodyWorks-Library/default/dw5b7b79c7/images/Spring2023/xcat_wellness_sp3_hps.jpg?yocs=o_s_" class="border-round-top w-full" alt="product">-->
<!--        </a>-->

<!--        <div class="flex flex-column w-full p-4">-->
<!--          <span class="text-900 font-medium text-xl border-200 pb-2" style="border-bottom:1px solid;">Shop</span>-->
<!--          <span class="text-600 pt-2"><i class="pi pi-fw pi-sun mr-2">-->

<!--          </i>Center your best you with a little something new.-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="xs:col-12 sm:col-6 lg:col-4 p-0">-->
<!--      <div class="surface-card m-3 border-round shadow-2">-->

<!--        <a href="/">-->
<!--          <img src="https://pbs.twimg.com/media/CdCB6-rUMAAhtvs.jpg:large" class="border-round-top w-full" alt="product">-->
<!--        </a>-->

<!--        <div class="flex flex-column w-full p-4">-->
<!--          <span class="text-900 font-medium text-xl border-200 pb-2" style="border-bottom:1px solid;">Beauty</span>-->
<!--          <span class="text-600 pt-2"><i class="pi pi-fw pi-wallet mr-2"></i>Sunny days. So many ways! ☀️Your favorite #Hawaii fragrance is NOW AVAILABLE in Body Care! #HonoluluSun #AlohaHawaii</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">

  <div class="grid -mt-3 -ml-3 -mr-3 align-items-center justify-content-center lg:justify-content-start">

    <div class="xs:col-12 sm:col-6 lg:col-4 p-0 ">
      <div class="surface-card m-3 border-round shadow-2">
        <a href="#">
          <img src="assets/demo-images/bb-group/bb1.jpg" class="border-round-top w-full" alt="product">
        </a>

        <div class="flex flex-column w-full p-4">
          <span class="text-900 font-medium text-xl border-200 pb-2" style="border-bottom:1px solid;">See all</span>
          <span class="text-600 pt-2"><i class="pi pi-fw pi-users mr-2"></i>People's Choice</span>
        </div>
      </div>

    </div>
    <div class="xs:col-12 sm:col-6 lg:col-4 p-0 ">
      <div class="surface-card m-3 border-round shadow-2 ">
        <a href="#">
          <img src="assets/demo-images/bb-group/bb2.jpg" class="border-round-top" alt="product">
        </a>
        <div class="flex flex-column w-full p-4">
          <span class="text-900 font-medium text-xl border-200 pb-2" style="border-bottom:1px solid;">Panties</span>
          <span class="text-600 pt-2"><i class="pi pi-fw pi-sun mr-2"></i>Always Warm</span>
        </div>
      </div>

    </div>

    <div class="xs:col-12 sm:col-6 lg:col-4 p-0">
      <div class="surface-card m-3 border-round shadow-2">
        <a href="#">
          <img src="assets/demo-images/bb-group/bb1.jpg" class="border-round-top w-full" alt="product">
        </a>
        <div class="flex flex-column w-full p-4">
          <span class="text-900 font-medium text-xl border-200 pb-2" style="border-bottom:1px solid;">Mists</span>
          <span class="text-600 pt-2"><i class="pi pi-fw pi-wallet mr-2"></i>Best Price</span>
        </div>
      </div>
    </div>

    <div class="xs:col-12 sm:col-6 lg:col-4 p-0">
      <div class="surface-card m-3 border-round shadow-2">
        <a href="#">
          <img src="assets/demo-images/bb-group/bb2.jpg" class="border-round-top w-full" alt="product">
        </a>
        <div class="flex flex-column w-full p-4">
          <span class="text-900 font-medium text-xl border-200 pb-2" style="border-bottom:1px solid;">Beauty</span>
          <span class="text-600 pt-2"><i class="pi pi-fw pi-wallet mr-2"></i>Sleep</span>
        </div>
      </div>
    </div>

  </div>
</div>



