<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h5 class="fw-normal mb-3 pb-3 vs-title" style="letter-spacing: 1px;">Sign up now</h5>
            <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">

                  <app-vs-input type="text" label="First name" id="name" formControlName="firstName"></app-vs-input>

                </div>
                <div class="col-md-6 mb-4">
                  <app-vs-input type="text" label="Last name" id="lastname" formControlName="lastName"></app-vs-input>
                </div>
              </div>

              <!-- Email input -->
<!--              <div class="form-outline mb-4">-->
<!--                <input type="email" id="form3Example3" class="form-control" placeholder=" " />-->
<!--                <label class="form-label" for="form3Example3">Email address</label>-->
<!--              </div>-->

              <!-- email input -->
              <app-vs-input type="email" label="Email address" id="email" formControlName="email"></app-vs-input>

              <!-- Password input -->

              <app-vs-input type="password" label="Password" id="password" formControlName="password"></app-vs-input>

              <!-- Submit button -->
              <button pRipple class="w-full vs-button h-3rem py-2 mt-2"  type="submit" [disabled]="!form.valid">
                <span class="label">Sing in</span>
              </button>

              <!-- Register buttons -->
              <div class="text-center mt-3">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="assets/images/auth.jpg" class="w-100 rounded-4 shadow-4"
             alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
