<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-column lg:flex-row justify-content-center align-items-center gap-7">
    <div class="flex flex-column justify-center items-center text-center lg:text-right">
      <div class="mt-6 mb-3 font-bold text-6xl text-900" *transloco="let t; read: 'accountNotFound'">
        {{ t('title') }}
      </div>
      <p class="text-700 text-3xl mt-0 mb-6" *transloco="let t; read: 'accountNotFound'">
        {{ t('description') }}
      </p>
      <button pRipple class="vs-button h-3rem py-2 mt-2" (click)="goHome()" *transloco="let t; read: 'accountNotFound'">
        <span class="label">{{ t('button') }}</span>
      </button>
    </div>
  </div>
</div>
