
<!--  <a href="/vs">-->
<!--<img src="assets/images/logo/Victorias-Secret-Logo-Cut.png" alt="Logo" class="image-container block sm:hidden">-->
<!--&lt;!&ndash;  </a>&ndash;&gt;-->
<!--<div class="image-container">-->
<!--  <img src="assets/images/logo/Victorias-Secret-Logo-Cut.png" alt="Logo">-->
<!--</div>-->

<!--<img src="assets/images/logo/Victorias-Secret-Logo-Cut.png" alt="Image" height="50" class="block lg:hidden">-->
<!--<div class="logo-container">-->
<!--  <img src="assets/images/logo/Victorias-Secret-Logo-Cut.png" alt="Logo description" class="logo" />-->
<!--</div>-->

<!--<div class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none">-->
<!--  <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">-->


<!--    <li>-->
<!--      <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150" href="/bb">-->
<!--        <img src="./../../assets/images/logo/Victorias-Secret-Logo-Cut.png" alt="Image" height="40" class="mr-0 lg:mr-6 responsive-img" >-->
<!--      </a>-->
<!--    </li>-->

<!--    <li>-->
<!--      <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150" href="/bb">-->
<!--        <img src="./../../assets/images/logo/Bath-Body-Works-Logo-Cut.png" alt="Image" height="40" class="mr-0 lg:mr-6 responsive-img" >-->
<!--      </a>-->
<!--    </li>-->

<!--  </ul>-->
<!--  <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row border-top-1 surface-border lg:border-top-none">-->
<!--    <li>-->
<!--      <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">-->
<!--        <app-cart-status></app-cart-status>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="border-top-1 surface-border lg:border-top-none">-->
<!--      <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">-->
<!--        <app-login></app-login>-->
<!--        <div class="block lg:hidden">-->

<!--          <span class="text-600 font-medium text-sm">Sing in</span>-->
<!--        </div>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--<div class="h-30rem max-h-full border-round bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">-->

<!-- <div class="max-h-1rem">-->
<!--<div class="image-container">-->

<!--</div>-->

<!-- </div>-->


<!--<div class="flex flex-column">-->
<!--  <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">1</div>-->
<!--  <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">2</div>-->
<!--  <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">3</div>-->
<!--</div>-->

<!--</div>-->
<!--<li>-->
<!--  <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150" href="/bb">-->
<!--    <img src="./../../assets/images/logo/Victorias-Secret-Logo-Cut.png" alt="Image" height="40" class="mr-0 lg:mr-6 responsive-img" >-->
<!--  </a>-->
<!--</li>-->


<!--<p-image class="p-image">-->
<!--  <img src="assets/images/logo/Victorias-Secret-Logo-Cut.png" alt="Image" class="" >-->
<!--</p-image>-->

<!--<div class="card max-h-5rem">-->
