

<!--  <div class="surface-section px-4 md:px-6 lg:px-8">-->
<!--    <div class="py-6 flex flex-column sm:flex-row sm:align-items-center justify-content-between">-->
<!--      <div>-->
<!--        <div class="mt-2 line-height-3">&copy; 2023 Secret Room, Inc. All rights reserved</div>-->
<!--      </div>-->
<!--      <div class="mt-3 sm:mt-0">-->
<!--        <a href="https://www.instagram.com/secretroommd/" class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5" style="width:2.5rem; height: 2.5rem">-->
<!--          <img src="../assets/images/social/instagram.jpg" width="50px" height="50px">-->
<!--        </a>-->


<!--        <a href="https://www.instagram.com/secretroommd/" class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5" style="width:2.5rem; height: 2.5rem">&lt;!&ndash;        <i class="pi pi-facebook"></i>&ndash;&gt;-->
<!--          <img src="../assets/images/social/facebook.png" width="50px" height="50px">-->
<!--        </a>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
