
<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">
          <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0">
              <span class="vs-title"> {{'Thanks for your Order' | transloco}}</span>
              , <span style="color: #a8729a;">{{orderReview?.customer?.firstName}}</span>!</h5>
          </div>
          <div class="card-body p-4">

            <div class="card shadow-0 border mb-4" *ngFor="let details of orderReview?.items">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <img src="{{details.product.imageURL}}"
                         class="img-fluid" alt="Product">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">
                      <span class="vs-disc"> {{currentLang === 'Ro' ? details.product.nameRo : details.product.nameRu}}</span>

                    </p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center" >
                    <p class="text-muted mb-0 small">
                      <span class="vs-disc"> {{'Size' | transloco}}: {{details?.sizeType ? details?.sizeType : '-'}} </span>
                    </p>
                  </div>

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">
                      <span class="vs-disc">{{'Qty' | transloco}}: {{details.quantity}}</span>

                    </p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small"><span class="vs-disc"> {{details.amount}} MDL</span></p>
                  </div>
                </div>


              </div>
            </div>


            <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0 vs-disc">{{'Order Details' | transloco}}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4 vs-disc">{{'Subtotal' | transloco}}</span> {{orderReview?.subtotal}} MDL</p>
            </div>

            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0 vs-disc">
                <span>{{orderReview?.customer?.firstName}} {{orderReview?.customer?.lastName}}</span>
              </p>
              <p class="text-muted mb-0"><span class="fw-bold me-4 vs-disc">{{'Shipping' | transloco}} </span> {{orderReview?.shippingOption?.cost}} MDL</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0 vs-disc"><span>{{orderReview?.shippingAddress?.country}}</span></p>
<!--              <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p>-->
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0 vs-disc"> <span>{{orderReview?.shippingAddress?.city}} , {{orderReview?.shippingAddress?.street}} </span> </p>
<!--              <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>-->
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0 vs-disc"><span>MD-{{orderReview?.shippingAddress?.zipCode}}</span></p>
              <!--              <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p>-->
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0 vs-disc"><span>tel: {{orderReview?.customer?.phone}}</span></p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0 vs-disc"><span>{{'Comment' | transloco}}   : {{orderReview?.comment}}</span></p>
            </div>


          </div>
          <div class="card-footer border-0 px-4 py-5"
               style="background-color: rgb(244, 209, 218); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">{{'Total' | transloco}}
              : <span class="h2 mb-0 ms-2 vs-title">{{orderReview?.totalAmountOrder}} MDL</span></h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


