.vs-button {
  background-color: rgb(249, 226, 231);
  color: black;
}

.vs-button:hover {
  background-color: rgb(244, 209, 218);
}

.vs-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border:rgb(244, 209, 218) ;
  /* Additional styles for the button */
}

.button-image {
  width: 24px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  /* Additional styles for the image */
}

.label {
  text-transform: uppercase;
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 5px;
  letter-spacing: 0.05em;
  /* Additional styles for the label */
}

.custom-bg-color {
  color: rgb(249, 226, 231);
}

.size-choise {
  border: 2px solid rgb(236, 204, 211);
}

