  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid justify-content-center">
      <div class="col-12 lg:col-3">
        <img [src]="mainImage" class="mb-3 w-full"/>
        <div class="grid">
          <div *ngFor="let image of product.productImages; let i = index" class="col-3">
            <img src="{{image.imageUrl}}"
                 class="w-full cursor-pointer border-2 border-round border-transparent transition-colors transition-duration-150"
                 [ngClass]="{'border-pink-100': mainImage === image.imageUrl}"
                 (click)="mainImage = image.imageUrl"/>
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-3 py-3 lg:pl-4">
        <div class="flex align-items-center font-medium text-900 mb-4">
          <span class="vs-title">{{product.name}}</span> <i class="pi ml-3 cursor-pointer"></i>
        </div>

        <span class="text-900 font-medium block mb-5 text-left price mt-3 vs-price">
          {{product.unitPrice}} MDL
        </span>



        <div class="flex align-items-center mb-5">
          <div
            class="h-2rem w-2rem sm:h-3rem sm:w-3rem text-900 inline-flex justify-content-center align-items-center flex-shrink-0 border-round mr-3 cursor-pointer hover:surface-100 transition-duration-150 transition-colors"
            *ngFor="let size of product.productSizes"
            [ngClass]="{'size-choise': size.sizeType === currentSize}"
            (click)="currentSize = size.sizeType">{{size.sizeType}}</div>
        </div>


        <div class="flex align-items-center mb-5">
          <div class="border-round-2xl p-2 border-1 surface-border inline-flex mb-5">
            <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                           inputStyleClass="w-3rem text-center border-transparent "
                           [(ngModel)]= quantity
                           decrementButtonClass="p-button-text" incrementButtonClass="p-button-text"
                           incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                           [min]="1"
                           [max]="10"
            >
            </p-inputNumber>
          </div>

        </div>

        <button pRipple class="w-full mb-5 vs-button" (click)="addProductInCart()" >
          <i class="pi pi-shopping-cart"></i>
          <span class="label" >{{'Add to Cart' | transloco}}</span>
        </button>


        <ol class="list-none p-0 m-0 surface-100 text-center text-900">
          <li class="line-height-3 p-3 font-bold border-bottom-1 border-300"><span class="vs-title"> {{'Product description' | transloco}} </span></li>
          <li class="line-height-3 p-3 border-bottom-1 border-300">
            <span class="vs-disc">{{product.description}}</span>
            </li>
        </ol>

        <button pButton pRipple class="p-button-outlined p-button-secondary w-full h-2rem border-1" style="margin-top: 2em;" (click)="goBack()">
          <span class="icon"><i class="fas fa-arrow-left"></i></span>
          <span class="label">{{'Back to list'| transloco}}</span>
        </button>


      </div>
    </div>

  </div>

