<nav class="navbar bg-body-tertiary flex">
  <div class="flex flex-row brands mt-1">
    <div class="flex">
      <div>
        <a class="navbar-brand" href="#">
           <img src="assets/images/logo/Victorias-Secret-Logo.png" alt="Bootstrap" width="120px">
        </a>
      </div>
    </div>

    <div class="separator"></div> <!-- Separator -->

    <div class="flex">
      <div>
        <div>
          <a class="navbar-brand bb" href="#">
            <img src="assets/images/logo/Bath-Body-Works-Logo.png" alt="Bootstrap" width="120px" >
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>
