<div class="flex justify-content-between align-items-center border-bottom-1 pb-3 surface-border">
    <span class="text-900 font-medium text-lg lg:text-xl"><i
      class="pi pi-shopping-cart text-xl mr-2"></i>Your Order ({{totalQuantity}})</span>
</div>


<div *ngFor="let cartItem of cartItems; let i = index" class="mb-3">

  <div class="p-2">
    <div class="shadow-2 p-4 surface-card border-round">

      <a [routerLink]="'/'+ cartItem?.product?.brandShortName + '/product-view/' + cartItem.product.id"
         class="link-no-underline">

        <div class="flex justify-content-between align-items-center mb-3">
          <span class="text-900 font-medium text-xl product-name link-no-underline vs-title">
             {{cartItem.product.name}}
          </span>
        </div>

        <div class="relative mb-3">
          <img src="{{cartItem.product.imageURL}}" class="w-full product-image"/>
        </div>


        <div *ngIf="cartItem.size"
             class="text-600 text-sm mb-3"> Size: {{cartItem.size.sizeType}}
        </div>

        <span class="text-900 text-m font-medium vs-price">{{ cartItem.amount }} MDL</span>
      </a>

      <div class="flex flex-wrap justify-content-between align-items-center mt-3">
        <p-inputNumber [showButtons]="true"
                       buttonLayout="horizontal"
                       pinnerMode="horizontal"
                       [min]="1"
                       [max]="100"
                       [(ngModel)]="cartItem.quantity"
                       (ngModelChange)="recalculateCartItem(cartItem, i)"
                       inputStyleClass="w-3rem text-center py-2 px-1 border-transparent"
                       class="border-1 surface-border border-round"
                       decrementButtonClass="p-button-text py-1 px-1"
                       incrementButtonClass="p-button-text py-1 px-1"
                       incrementButtonIcon="pi pi-plus"
                       decrementButtonIcon="pi pi-minus">

        </p-inputNumber>
        <button
          pButton pRipple icon="pi pi-trash" class="p-button-danger p-button-text p-button-rounded"
          (click)="deleteItemFromCart(cartItem, i)"
        ></button>
      </div>

    </div>


  </div>
  <!--  <p-card header="{{cartItem.product.name}}" subheader="{{cartItem.product.brand}}"-->
  <!--          [style]="{'font-family': 'BentonSans, Helvetica, Arial, sans-serif'}">-->

  <!--    <img src="{{cartItem.product.imageURL}}" class="w-6rem sm:w-8rem flex-shrink-0"/>-->
  <!--    <div class="flex-auto px-3">-->
  <!--      <div class="flex align-items-center justify-content-between mb-3 mt-1">-->
  <!--        <span>Total: {{cartItem.amount}} MDL</span>-->
  <!--&lt;!&ndash;        <span class="text-900 font-bold">{{cartItem.amount}} MDL</span>&ndash;&gt;-->
  <!--      </div>-->

  <!--      <div *ngIf="cartItem.size"-->
  <!--           class="text-600 text-sm mb-3"> Size: {{cartItem.size.sizeType}}-->
  <!--      </div>-->

  <!--      <div class="flex flex-auto justify-content-between align-items-center">-->
  <!--        <p-inputNumber [showButtons]="true"-->
  <!--                       buttonLayout="horizontal"-->
  <!--                       pinnerMode="horizontal"-->
  <!--                       [min]="1"-->
  <!--                       [max]="100"-->
  <!--                       [(ngModel)]="cartItem.quantity"-->
  <!--                       (ngModelChange)="recalculateCartItem(cartItem, i)"-->
  <!--                       inputStyleClass="w-3rem text-center py-2 px-1 border-transparent"-->
  <!--                       class="border-1 surface-border border-round"-->
  <!--                       decrementButtonClass="p-button-text py-1 px-1"-->
  <!--                       incrementButtonClass="p-button-text py-1 px-1"-->
  <!--                       incrementButtonIcon="pi pi-plus"-->
  <!--                       decrementButtonIcon="pi pi-minus">-->

  <!--        </p-inputNumber>-->
  <!--        <button-->
  <!--          pButton pRipple icon="pi pi-trash" class="p-button-danger p-button-text p-button-rounded"-->
  <!--          (click)="deleteItemFromCart(cartItem, i)"-->
  <!--        ></button>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--  </p-card>-->
</div>


<div class="surface-card p-4 border-round shadow-2">
  <div class="border-bottom-1 surface-border pb-4">
    <span class="text-900 text-xl block">Order Summary</span>
  </div>
  <div class="border-bottom-1 surface-border my-3 py-2">
    <div class="flex justify-content-between mb-3">
      <span class="text-900">Subtotal</span>
      <span class="text-900">{{totalAmount}} MDL</span>
    </div>

    <div class="flex justify-content-between mb-3">
      <span class="text-900">Delivery</span>
      <span class="text-900">{{shippingCost}} MDL</span>
    </div>
  </div>
  <div class="border-bottom-1 surface-border my-3 py-2">
    <div class="flex justify-content-between mb-3">
      <span class="text-900 font-medium font-bold">Total</span>
      <span class="text-900 font-bold">{{totalAmount + shippingCost }} MDL</span>
    </div>
  </div>

</div>


