<!--<div class="px-0 py-4 md:px-4">-->
<!--  <div class="border-2 border-dashed surface-border border-round surface-card" style="max-height: 20rem">-->
<!--    <app-vs-logo></app-vs-logo>-->
<!--  </div>-->
<!--</div>-->

<!--<section class="surface-section gap-3 px-4 py-8 md:px-6 lg:px-8">-->
<!--  <h2 class="m-0 font-normal text-xl text-700 line-height-3 text-center">Trusted by Fortune 500 companies</h2>-->
<!--  <div class="flex justify-content-evenly flex-wrap">-->
<!--    <app-vs-logo></app-vs-logo>-->

<!--  </div>-->
<!--</section>-->
<!--<app-vs-logo></app-vs-logo>-->

<!--<div class="surface-overlay px-3 sm:px-6 flex flex-wrap align-items-stretch justify-content-between relative lg:border-bottom-1 surface-border">-->

<!--  <div id="nav-2" class="surface-overlay hidden lg:flex absolute lg:static left-0 top-100 z-1 shadow-2 lg:shadow-none w-full lg:w-auto py-3 lg:py-0">-->
<!--  </div>-->

<!--  -->
<!--  <div class="lg:flex w-full lg:w-auto  py-3 lg:py-0 w-full">-->
<!--    <app-search></app-search>-->
<!--  </div>-->
<!--</div>-->



<div class="grid align-items-center">
  <div class="col">
    <div class="text-center p-3 border-round-sm font-bold">
      <app-language-pannel></app-language-pannel>
    </div>
  </div>
  <div class="col">
    <div class="text-center p-3 border-round-sm  ">
      <div class="flex align-items-center justify-content-center py-3">
        <img src="assets/images/logo/Victorias-Secret-Logo-Cut.png" alt="Image" height="25">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="text-center p-3 border-round-sm  font-bold ">
      <app-search></app-search>
    </div>
  </div>
</div>
