<div class="surface-section p-4 px-1 py-1 md:px-1 lg:px-1">
  <div class="container-fluid">
    <div class="row align-items-center field p-4">
      <div class="col-12 md:col-4 d-flex align-items-center justify-content-center">
        <app-language-pannel></app-language-pannel>
      </div>

      <div class="col-12 md:col-4 d-flex align-items-center justify-content-center">
        <a href="" (click)="goToBrandHomePage($event)">
          <img src="{{currentLogo}}" alt="Image" height="30">
        </a>
      </div>

      <div class="col-12 md:col-4 d-flex align-items-center">
        <app-search class="w-full p-1"></app-search>
      </div>
    </div>
  </div>
</div>
