/*.vs-logo, .bb-logo {*/
/*  width: 80%; !* задаем базовую ширину *!*/
/*  height: auto; !* сохраняем пропорции изображения *!*/
/*}*/

/*@media (min-width: 600px) {*/
/*  .vs-logo, .bb-logo {*/
/*    width: 50%; !* увеличиваем ширину на больших экранах *!*/
/*  }*/
/*}*/
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex > div {
  flex: 1 0 30%; /* этот код обеспечит, что каждый дочерний div займет не более трети ширины контейнера */
  box-sizing: border-box; /* это свойство убедится, что padding и border включены в ширину и высоту элемента */
  overflow: auto; /* этот код обеспечит появление скролла, если содержимое превышает размеры контейнера */
}

p-dropdown .ui-dropdown-panel {
  max-height: 200px; /* Задайте максимальную высоту, которая вам подходит */
  overflow-y: auto;
}
