<!-- As a heading -->

<div class="d-flex p-2 justify-content-center col-12 mt-0">


  <div class="d-flex p-2 justify-content-between col-10">

    <div class="d-flex p-2 justify-content-start col-3">

      <div class="d-flex  justify-content-between">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/logo/flagRo.png" width="20px" height="15px" >
           <label class="label m-2">ro</label>
          </button>
        </div>

      </div>

    </div>

    <div class="d-flex p-2 justify-content-center col-3 mt-0">
      <app-vs-logo> </app-vs-logo>
    </div>

    <div class="d-flex p-2 justify-content-center col-3 border-0">

        <!-- Actual search box -->
        <div class="form-group has-search flex-fill">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search">
        </div>

    </div>

  </div>
</div>


