
<div class="surface-overlay px-3 lg:px-6 flex align-items-center relative  surface-border" style="min-height: 80px">
  <div class="flex align-items-center justify-content-center">
    <a href="/vs" class="flex">
      <img src="./../../assets/images/logo/Victorias-Secret-Logo-Cut.png" alt="Image" height="45"
           class="mr-0 lg:mr-6 responsive-img">
    </a>

    <a href="/bb" class="flex">
      <img src="./../../assets/images/logo/Bath-Body-Works-Logo-Cut.png" alt="Image" height="45" class="mr-0 lg:mr-6 responsive-img" >
    </a>
  </div>
  <div class="flex align-items-center flex-auto">

  </div>
  <div class="flex ml-3 lg:ml-6">




    <div class="flex justify-end">
      <a pRipple class="cursor-pointer block lg:hidden text-700 ml-2" (click)="setMobileMenu($event)">
        <i class="pi pi-bars text-4xl"></i>
        <p-menu #menuMob [popup]="true" [model]="mobileMenu" styleClass="my-custom-menu" appendTo="body"></p-menu>
      </a>
    </div>

    <div class="flex-grow-1 hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none">
      <ul class="list-none p-0 m-0 flex flex-col lg:flex-row lg:align-items-center select-none">

      </ul>
      <ul class="list-none p-0 m-0 flex flex-col lg:flex-row lg:align-items-center select-none border-top-1 surface-border lg:border-top-none">
        <li>
          <a pRipple class="flex flex-col lg:flex-row px-6 p-3 lg:px-3 lg:py-2 text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
            <app-cart-status></app-cart-status>
          </a>
        </li>
        <li class="border-top-1 surface-border lg:border-top-none">
          <a pRipple class="flex flex-col lg:flex-row px-6 p-3 lg:px-3 lg:py-2 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
<!--            <app-login></app-login>-->
            <p-menu #menuMain [model]="mainMenu" [popup]="true" appendTo="body" styleClass="my-custom-menu"></p-menu>
            <a (click)="setMainMenu($event)" class="text-900 font-medium inline-flex justify-center items-center cursor-pointer px-2 sm:px-3 hover:text-primary position-relative">
              <li class="flex">
                <i class="pi pi-user" style="font-size: 1.3rem"></i>
              </li>
            </a>

          </a>
        </li>
      </ul>
    </div>




  </div>
</div>
