
/*.logo-img {*/
/*  width: 250px; !* устанавливает ширину изображения *!*/
/*  height: auto; !* устанавливает высоту изображения *!*/
/*  object-fit: contain; !* гарантирует, что изображение будет масштабироваться правильно, сохраняя свои пропорции *!*/
/*  max-width: 100%;*/
/*  max-height: 100%;*/
/*}*/

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .max-lg-img {
    max-width: 200px;
    max-height: 200px;
  }
}


.my-custom-menu {
  width: 200px; /* Set width of your menu */
}

.my-custom-menu .p-menuitem-link {
  justify-content: flex-end;
}

.my-custom-menu .p-menuitem-link:hover {
  background-color: #f1f1f1;
}


::ng-deep .p-menuitem-badge.green-badge {
  background-color: var(--form-color) ;
  color: white;
  border-radius: 10px;
}


a {
  text-decoration: none;
}
