<section class="vh-100"  style="background-color: rgb(255,255,255);">
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center md:align-items-start h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/images/login.jpg"
                   alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                  <h5 class="fw-normal mb-3 pb-3 vs-title" style="letter-spacing: 1px;">{{'Sign into your account' |transloco}}</h5>


                  <app-vs-input type="email" label="{{'Email' |transloco}}" id="email" formControlName="email"></app-vs-input>

                  <app-vs-input type="password" label= "{{'Password' |transloco}}" id="password" formControlName="password"></app-vs-input>

                  <div class="pt-1 mb-4">
                    <!-- Submit button -->
                    <button pRipple class="w-full vs-button h-3rem py-2 mt-2"  type="submit" [disabled]="!form.valid">
                      <span class="label">{{'Sing in' |transloco}} </span>
                    </button>

                    <div class="mt-4 d-flex justify-content-center">
                      <p-message severity="error" text="{{'Unknown username or password' |transloco}} " *ngIf="badCredentials"></p-message>
                    </div>

                  </div>

                  <a class="small text-muted vs-disc" (click)="showDialog()">{{'Forgot Password' |transloco}}</a>
                  <p class="mb-5 pb-lg-2 vs-disc mt-2" style="color: #393f81;">{{'No account' |transloco}}  <a href="/registration"
                                                                                                         style="color: #393f81;">{{'Register here' |transloco}}</a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<form [formGroup]="restoreForm" (ngSubmit)="onSubmitRestore()">
  <p-dialog [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '20vw' }"
            [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
      <div class="vs-title">Password Reset</div>
    </ng-template>
    <app-vs-input type="email" label="Email address" id="restorePassword" formControlName="email"></app-vs-input>
    <p>
    <span>
        Enter your email address and we'll send you an email with instructions to reset your password.
    </span>
    </p>

    <button pRipple class="w-full vs-button h-3rem py-2 mt-2" type="submit" [disabled]="!restoreForm.valid || loading">
      <span *ngIf="!loading" class="label">Restore</span>
      <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </button>

    <div class="py-2 align-items-center text-center">
      <p-message severity="error" [text]="errorMessage" *ngIf="errorMessage" class="error-message"></p-message>
    </div>
  </p-dialog>

  <p-dialog header="Success" [(visible)]="isSuccess" >
    <ng-template pTemplate="header">
      <span class="text-xl font-bold">Success</span>
    </ng-template>
    <p>
      Email has been sent!
    </p>
    <ng-template pTemplate="footer">
      <div style="display: flex; justify-content: flex-end;">
        <button pRipple class="vs-button h-2rem py-1" type="submit" (click)="isSuccess = false"> <!-- Add (click) handler here -->
          <span class="label">Ok</span>
        </button>
      </div>
    </ng-template>
  </p-dialog>

</form>

