<section class="vh-100"  style="background-color: rgb(255,255,255);">
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center md:align-items-start h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/images/login.jpg"
                   alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="form" (ngSubmit)="onSubmit($event)">

                  <h5 class="fw-normal mb-3 pb-3 vs-title" style="letter-spacing: 1px;">Sign into your account</h5>


                  <app-vs-input type="email" label="Email address" id="email" formControlName="email"></app-vs-input>

                  <app-vs-input type="password" label="Password" id="password" formControlName="password"></app-vs-input>

                  <div class="pt-1 mb-4">
                    <!-- Submit button -->
                    <button pRipple class="w-full vs-button h-3rem py-2 mt-2"  type="submit" [disabled]="!form.valid">
                      <span class="label">Sing in</span>
                    </button>

                  </div>

                  <a class="small text-muted vs-disc" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2 vs-disc mt-2" style="color: #393f81;">Don't have an account? <a href="/registration"
                                                                                                         style="color: #393f81;">Register here</a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
