<p-sidebar [(visible)]="sidebarVisible" styleClass="w-40rem pl-0" position="right"
[transitionOptions]="'250ms'" [showCloseIcon] = false [blockScroll]="true">


<!-- header -->

  <!-- body -->
  <ng-template pTemplate="content">

    <div *ngFor="let cartItem of cartItems" class="mb-3">
      <p-card header="{{cartItem.product.name}}" subheader="{{cartItem.product.brand}}"
              [style]="{'font-family': 'BentonSans, Helvetica, Arial, sans-serif'}">

        <img src="{{cartItem.product.imageURL}}" class="w-6rem sm:w-8rem flex-shrink-0"/>
        <div class="flex-auto px-3">
          <div class="flex align-items-center justify-content-between mb-3 mt-1">
            <span>Price: {{cartItem.product.unitPrice}} MDL</span>
            <span class="text-900 font-bold">{{cartItem.amount}}</span>
          </div>

          <div *ngIf="cartItem.size"
               class="text-600 text-sm mb-3"> Size: {{cartItem.size.sizeType}}
          </div>

          <div class="flex flex-auto justify-content-between align-items-center">
            <p-inputNumber [showButtons]="true"
                           buttonLayout="horizontal"
                           pinnerMode="horizontal"
                           [min]="1"
                           [max]="100"
                           [(ngModel)]="cartItem.quantity"
                           (ngModelChange)="recalculateCartItem(cartItem)"
                           inputStyleClass="w-3rem text-center py-2 px-1 border-transparent"
                           class="border-1 surface-border border-round"
                           decrementButtonClass="p-button-text py-1 px-1"
                           incrementButtonClass="p-button-text py-1 px-1"
                           incrementButtonIcon="pi pi-plus"
                           decrementButtonIcon="pi pi-minus">

            </p-inputNumber>
            <button
              pButton pRipple icon="pi pi-trash" class="p-button-danger p-button-text p-button-rounded"
              (click)="deleteItemFromCart(cartItem)"
            ></button>
          </div>
        </div>

      </p-card>
    </div>
  </ng-template>
  <!-- footer -->
  <ng-template pTemplate="footer">

    <div class="border-top-1 surface-border p-3 w-full">
      <div class="flex align-items-center justify-content-between mb-3">
        <span class="text-900 font-medium">Total Amount <span class="text-600 text-sm">incl. VAT</span></span>
        <span class="text-900 font-bold">{{totalAmount}} MDL</span>
      </div>
      <button pRipple class="mb-3 w-full vs-button" (click)="checkout()">
        <span class="label">Check out</span>
      </button>

      <button pButton pRipple class="p-button-outlined p-button-secondary w-full" (click)="sidebarVisible=false">
        <span class="label">Continue Shopping</span>
      </button>

    </div>
  </ng-template>

</p-sidebar>
