
:root {
  --standart-color: rgb(244, 209, 218);
  --form-color:rgb(244, 209, 218);
}


.vs-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: var(--standart-color);
  background-color: var(--standart-color);
  /* Additional styles for the button */
  height: 2em; /* Change the height to desired value */
  border-radius: 5px; /* Add rounded corners with desired radius */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
}

.vs-button:hover {
    background-color: rgb(244, 190, 206); /* Slightly darker background color on hover */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
}

.button-image {
  width: 24px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  /* Additional styles for the image */

}

.label {
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 5px;
  letter-spacing: 0.05em;
  /* Additional styles for the label */
}

.custom-bg-color {
  color: rgb(249, 226, 231);
}

.size-choise {
  border: 2px solid rgb(236, 204, 211);
}

span {
  font-family: BentonSans, Helvetica, Arial, sans-serif;
}

.responsive-img {
  max-width: 100%;
  max-height: 100%;
  transform: scale(0.8);
  width: 200px; /* Задайте желаемую ширину */
  height: 100px; /* Задайте желаемую высоту */
}


.vs-logo, .bb-logo {
  width: 80%; /* задаем базовую ширину */
  height: auto; /* сохраняем пропорции изображения */
}

@media (min-width: 600px) {
  .vs-logo, .bb-logo {
    width: 75%; /* увеличиваем ширину на больших экранах */
  }
}

