.vs-button{
  background-color: rgb(249, 226, 231);
}

span {
  font-family: BentonSans, Helvetica, Arial, sans-serif;
}

.title{
  font-size: 1.4rem;
  line-height: 5px;
  letter-spacing: 0.05em;
}

.price{
  font-size: 1.1rem
  /*line-height: 5px;*/
  /*letter-spacing: 0.02em;*/

}

.p-button-text .pi.pi-plus,
.p-button-text .pi.pi-minus {
  color: rgb(236, 204, 211);
}

